.adminProducts,
.adminComments {
    padding-top: 40px;
    padding-bottom: 40px;
    .heading {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    .buttonLayout {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 16px 0;
        .icon {
            margin-right: 8px;
            font-size: 16px;
        }
        .ant-btn {
            display: flex;
            align-items: center;
        }
    }
    .ant-table-row-selected {
        color: white;
    }
}
