.manageAccount {
    padding-top: 40px;
    padding-bottom: 40px;
    .heading {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    .icon {
        font-size: 20px;
        cursor: pointer;
        display: block;
        margin: auto;
    }
}